USE [ExamFlow]
GO
/****** Objeto:  Table [dbo].[exames]    Data do Script: 08/10/2026 11:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exames](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[funcionario_id] [int] NOT NULL,
	[tipo] [nvarchar](40) NOT NULL,
	[data_agendada] [date] NULL,
	[horario] [time](7) NULL,
	[local_exame] [nvarchar](200) NULL,
	[status] [nvarchar](20) NOT NULL,
	[observacao] [nvarchar](max) NULL,
	[criado_em] [datetime] NOT NULL,
	[confirmado_em] [datetime] NULL,
	[atualizado_em] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[funcionarios]    Data do Script: 08/10/2026 11:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[matricula] [nvarchar](20) NOT NULL,
	[empresa] [nvarchar](10) NOT NULL,
	[nome] [nvarchar](200) NOT NULL,
	[data_admissao] [date] NOT NULL,
	[cargo] [nvarchar](150) NOT NULL,
	[celular] [nvarchar](20) NULL,
	[celular_raw] [nvarchar](40) NULL,
	[ativo] [bit] NOT NULL,
	[criado_em] [datetime] NOT NULL,
	[atualizado_em] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[importacoes]    Data do Script: 08/10/2026 11:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[importacoes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome_arquivo] [nvarchar](255) NOT NULL,
	[data_importacao] [datetime] NOT NULL,
	[total] [int] NOT NULL,
	[novos] [int] NOT NULL,
	[alterados] [int] NOT NULL,
	[ausentes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[usuarios]    Data do Script: 08/10/2026 11:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](120) NOT NULL,
	[login] [nvarchar](80) NOT NULL,
	[senha_hash] [nvarchar](255) NOT NULL,
	[email] [nvarchar](180) NULL,
	[ativo] [bit] NOT NULL,
	[criado_em] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[exames] ADD  DEFAULT ('PERIODICO') FOR [tipo]
GO
ALTER TABLE [dbo].[exames] ADD  DEFAULT ('PENDENTE') FOR [status]
GO
ALTER TABLE [dbo].[exames] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[funcionarios] ADD  DEFAULT ('001') FOR [empresa]
GO
ALTER TABLE [dbo].[funcionarios] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[funcionarios] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[funcionarios] ADD  DEFAULT (getdate()) FOR [atualizado_em]
GO
ALTER TABLE [dbo].[importacoes] ADD  DEFAULT (getdate()) FOR [data_importacao]
GO
ALTER TABLE [dbo].[importacoes] ADD  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[importacoes] ADD  DEFAULT ((0)) FOR [novos]
GO
ALTER TABLE [dbo].[importacoes] ADD  DEFAULT ((0)) FOR [alterados]
GO
ALTER TABLE [dbo].[importacoes] ADD  DEFAULT ((0)) FOR [ausentes]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[exames]  WITH CHECK ADD  CONSTRAINT [FK_exames_funcionario] FOREIGN KEY([funcionario_id])
REFERENCES [dbo].[funcionarios] ([id])
GO
ALTER TABLE [dbo].[exames] CHECK CONSTRAINT [FK_exames_funcionario]
GO
